body {
    background-image: url(https://i.imgur.com/m8bTEaN.png);
    margin: 0;
}

header {
    margin: 0 auto;
    background: #fff;
    border: #cccccc 1px solid;
    top: 0;
    left: 0;
    margin: 0;
}

nav {
    margin-bottom: 40px;
}

h1 {
    color: white;
    background: #4aaaa5;
    font-family: Georgia;
    width: 960px;
    display: inline-block;
}

h2 {
    color: #4aaaa5;
    height: 40px;
    width: 30%;
    font-family: Georgia;
}

li {
    float: right;
    margin-right: 40px;
    margin-bottom: 40px;
    position: inherit;
    font-family: Arial;
}

div {
    background: #fff;
    width: 960px;
    margin: 0 auto;
    height: 540px;
} 

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
    float: left;
    height: 240px;
    width: 240px;
}

p {
    float: right;
    clear: both;
    line-height: 2;
    font-family: Arial;
}

ul {
    padding-right: 20px;
}

#bullets {
    list-style-type: none;
}

.two-lis {
    border-right: 1px solid black;
    padding-right: 20px;
}

#one-li {
    margin right: 20px;
}

form {
    width: 920px;
    margin: 0 auto;
    font-family: Arial;
}

#biginput {
    width: 900px;
    height: 200px;
}

button {
    background: #4aaaa5;
    color: white;
    margin-top: 20px;
    padding: 10px;
}
